configuration {
    modes: ["window", "drun", "nerdy", "combi"];
    combi-modes: ["window", "drun"];
    combi-display-format: "{text}";
    font: "sans-serif 20";
    case-smart: true;
    drun-display-format: "{name}";
    window-format: "{c}";
    timeout {
        action: "kb-cancel";
        delay:  0;
    }
}
@theme "theme"
