config/theme/light.png
config/wlogout/style.css
config/newsboat/theme
config/starship.toml
config/btop/themes/theme.theme
config/rofi/theme.rasi
config/imv/config
config/aerc/stylesets/theme
config/hypr/theme.conf
config/bat/config
config/fish/fish_variables
config/zathura/theme
config/nvim/lazy-lock.json
