* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(30, 30, 46, 0.50);
}

button {
	border-radius: 0;
	border-color: #89b4fa;
	text-decoration-color: #cdd6f4;
	color: #cdd6f4;
	background-color: rgba(24, 24, 37, 0.0);
	border-style: solid;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:hover {
	/* 20% Overlay 2, 80% mantle */
	background-color: rgba(48, 50, 66, 0.3);
    border-radius: 1rem;
	outline-style: none;
}
#lock {
    background-image: url("/home/shaan/.config/wlogout/icons/lock.svg");
}

#logout {
    background-image: url("/home/shaan/.config/wlogout/icons/logout.svg");
}

#suspend {
    background-image: url("/home/shaan/.config/wlogout/icons/suspend.svg");
}

#hibernate {
    background-image: url("/home/shaan/.config/wlogout/icons/hibernate.svg");
}

#shutdown {
    background-image: url("/home/shaan/.config/wlogout/icons/shutdown.svg");
}

#reboot {
    background-image: url("/home/shaan/.config/wlogout/icons/reboot.svg");
}
