* {
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @text;
}

tooltip {
  background: @base;
  border: 2px solid @blue;
}

#custom-right_div,
#custom-left_div {
    font-size: 33px; /* also controls window height #hack */

}

#custom-right_div {
    padding-left: 0.5rem;
}

#custom-left_div {
    padding-right: 0.5rem;
}



/* left side */
.modules-left {
    margin: 0rem 0rem ;
    padding: 0rem 1rem ;
    background: @mantle;
    border-radius: 2rem;
}

#battery {
    padding-right: 1rem;
    padding-left: 1rem;
}

#sysinfo {
    background-color: @mantle;
    color: @blue;
}

#custom-info {
    color: @blue;
}

#custom-left_div.1 {
    color: @mantle;
    background-color: @crust;
}

#workspaces {
    background-color: @crust;
}

#workspaces button.empty {
    color: @surface2;
}

#workspaces button.active {
    color: @blue;
}

#workspaces button.urgent {
    background-color: alpha(@red, 0.1);
    color: @red;
}

#custom-left_div.2 {
    color: @crust;
    background-color: @mantle;
}

#window {
    background-color: @mantle;
}

/* right side */

.modules-right {
    margin: 0rem 0rem ;
    padding: 0rem 1rem ;
    background: @mantle;
    border-radius: 2rem;
}

#wireplumber {
    color: @red;
}

#pulseaudio-slider {
    padding: 0.5rem;
}

#pulseaudio-slider slider {
    background-color: @base;
    border: 2px solid @text;
    box-shadow: none;
    min-height: 0;
    min-width: 0;
    opacity: 0;
    background-image: none;
}

#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background: @crust;
}

#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background: @red;
}


#mpris {
    background-color: @mantle;
    color: @green;
}

#image.album-art {
    background-color: @mantle;
    padding: 0 1rem;
}

#image.album-art.empty {
    padding: 0;
}

#custom-right_div.2 {
    background-color: @mantle;
    color: @crust;
}

#lights {
    background-color: @crust;
}

#backlight {
    min-width: 3rem;
}

#backlight-slider slider {
    min-height: 0;
    min-width: 0;
    opacity: 0;
    background-image: none;
    box-shadow: none;
    border: 2px solid @text;
    background-color: @base;
}

#backlight-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background-color: @mantle;
}

#backlight-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    color: @mauve;
}

#custom-right_div.1 {
    background-color: @crust;
    color: @mantle;
}

#custom-logout {
    color: @blue;
    margin-right: 0.25rem;
}
