* {
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
    min-height: 0;
}
window#waybar {
    background: @crust;
    color: @text;
    border-radius: 2rem;
}

#custom-right_div,
#custom-right_inv,
#custom-left_inv,
#custom-left_div {
    font-size: 30px;
}



/* left side */
.modules-left {
    margin: 0 1rem ;
}

#custom-logo {
    margin-right: 0.8rem;
    color: @blue;
    font-size: 20px;
}

#custom-right_div.1 {
    color: @crust;
    background-color: @mantle;
}

#workspaces{
    background-color: @mantle;
}
#workspaces button.active {
    color: @blue;
    padding-bottom: 15px;
}

#custom-right_div.2 {
    color: @mantle;
    background-color: @crust;
}

#custom-logout {
    color: @blue;
    margin-right: 0.25rem;
}


/* right side */

.modules-right {
    margin: 0 1rem ;
}

#custom-left_div.2 {
    color: @base;
}

#battery {
    background-color: @base;
}

#custom-left_div.1 {
    background-color: @base;
    color: @mantle;
}

#clock {
    background-color: @mantle;
}

#custom-left_div.3 {
    background-color: @mantle;
    color: @crust;
}
